
{{ attach_library('patasdacasa/footer') }}

<footer class="footer">
    <div class="container-fluid pt-4 ps-5 pe-5">
        <div class="top-footer">
            <div class="d-flex row flex-column flex-md-row align-items-center">
                <div class="col-12 col-md-4 order-2 order-md-1 mt-3 mb-3 mt-md-0 mb-md-0 d-flex justify-content-center justify-content-md-start">{{ drupal_entity('block_content', 4) }}</div>
                {% include directory ~ '/templates/partials/logo.html.twig' with {
                    classes: 'col-12 col-md-4 order-1 order-md-2 d-flex flex-column align-items-center justify-content-center logo'
                } %}
                <div class="col-12 col-md-4 order-3">{{ drupal_menu('top-footer') }}</div>
            </div>
        </div>
        <div class="middle-footer p-5 mt-5 mb-5">
            {{ drupal_menu('footer-navigation') }}
        </div>
        <div class="bottom-footer">
            <div class="row d-flex flex-wrap align-items-stretch justify-content-between">
                <span class="col-12">
                    <span class="row">
                        <p class="col-12 col-md-6 col-lg-4 mb-4">
                            ©{{ "now"|date('Y') }}, Nestlé Brasil Ltda. Todos os direitos reservados.<br>
                            {{address}}
                        </p>
                    </span>
                </span>
                <span class="col-12 d-flex pb-4 flex-column justify-content-end">
                    {{ drupal_menu('bottom-footer') }}
                </span>
                <span class="col-12 d-flex justify-content-center justify-content-md-end">
                    <img class="webedia-logo" src="/{{ base_path ~ directory }}/assets/images/webedia1.png" />
                </span>
            </div>
        </div>
    </div>
</header>
